

.header-home{
    font-family: lato;
         background: url();
         background-size: cover;
         height: 100vh;
         position: relative;
         overflow: hidden;
       }

.header-home: {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        background-image: url();
        height: 275px;

       }
.header-content{
        z-index: 1;
        position: relative;  
       }
.header-content h1{
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}
.header-content p{
  font-size: 20px;
  color: white;
  margin: 20px 0 25px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 300px; 
}
.theme-btn{
  border-radius: 50px;
  background: white;
  padding: 15px 30px;
  min-width: 170px;
  border: 2px solid white;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 13px;
  display: inline-block;
  text-align: center;
  margin-right: 12px;
  transition: all 0.5s ease-in;
}
.theme-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #333;

}