<!-- comment box print/!-->


  <div class="block bg-white border border-t border-r border-b border-l rounded-t-lg rounded-r-lg rounded-l-lg rounded-b-lg ">
    <!-- avatar/!-->
    <div class="flex-row">
      <div class="flex items-center ">
      <!-- avatar 64x64/!-->
        <img src="https://bulma.io/images/placeholders/64x64.png" class=" flex w-16 rounded-full mr-4">
      <!-- current_user.username/!-->

        <div class="text-bold text-center">
         <!--meta info sur user /!-->       
          <%= comment.user.username %>
        </div>
      </div>
    </div>
    <!-- content/!-->
    <div class="p-6 border border-t rounded-t-lg rounded-r-lg rounded-l-lg rounded-b-lg ">
      <% if course_author(@course) %>      
        <span class="bg-green-200">
          <%= comment.content %>
        </span>
      <% else %>
        <span class="">        
          <%= comment.content %>
        </span>
      <% end %>
    </div>
  </div>

