<!-- comment box print/!-->

<div class="block">
  <div class="w-full block bg-white ">
    <!-- avatar/!-->
    <div class="flex-row">
      <div class="flex items-center ">
      <!-- avatar 64x64/!-->
        <img src="https://bulma.io/images/placeholders/64x64.png" class=" flex w-16 rounded-full mr-4">
      <!-- current_user.username/!-->
      <div class="text-bold text-center py-2 m-2">
       <!--meta info sur user /!-->       
        <%= comment.user.username %>
    </div>
    </div>
    </div>
    <span class="border_l">
      <%= comment.content %>
    </span>
    <!-- content/!-->
  </div>
</div>

