
<!-- Comments Form -->
<%= simple_form_for([@course, @course.comments.build], remote: true) do |f| %>
  
	<div class="card my-4">
    <h5 class="card-header">Interaction</h5>
    <div class="card-body">
    	
       <div class="form-group">
        <%= f.input :content, required: false, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' }, label:'participez au cours:', placeholder:'Ajouter une question ou un commentaire pour participer...' %>

        </div>
      	<button type="submit" class="btn btn-primary"><i class="fa fa-location-arrow" aria-hidden="true"></i> Envoi</button>
     </div>
    </div>
<% end %>
<br>

