<h4>Exercices ou sujets connexes</h4>
	<hr>
<p>Pourquoi les élèves pensent que les mathematiques sont difficile a comprendre?</p>
<p>Si la philosophie existe pour aider l'humanité, pourquoi j'ai l'impression qu'elle est trop abstraite?</p>
<p>Faites ces exercices pour mieux comprendre les lentilles</p>
<p>6 Exercices pour etre dangereux en mecanique</p>

<!--section preparation d'interrogation/!-->
<h4>Préparation d'interrogation</h4>
<hr>
<p>Comment réviser plus facile les leçons de SVT?</p>
<p>Serie d'exercice sur les triangles.</p>
<p>Fiche de préparation pour mieux comprendre le cours de JAPON</p>
<p>Comment demontrer la propriéte de phytagore?</p>