<!-- Full width column -->
<div class="home_feed mt-24">
 <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">       
     <%= render "shared/feed/sidebar" %>      
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">             
     <%= render "shared/feed/courses_feed" %>     
    </div>
</div>
</div>


