<% content_for @title =" Accueil" %>
<!-- compagny presentation/!-->

<!-- HEADER SECTION/!-->
<div class="home_page">
    <div class="home_header bg-white">
        <!-- logo and sign in button/!-->
        <div class="home_message md:mr-12 md:ml-12 sm:h-4 md:h-16">
            <div class=""item-center>
                <a href="/" class="text-2xl text-black  font-bold hover:no-underline">CHATLN</a>
                <%= link_to "Connectez", user_session_path, class:"border border-white md:bg-blue-400 sm:text-white text-blue-200 font-bold uppercase rounded-full py-2 px-4 hover:bg-blue-600 hover:no-underline hover:text-white float-right" %>
            </div>
        </div>
    </div>
    <!-- COMPAGNY MESSAGE/!-->
    <div class="HomeMessage mt-18">
        <div class="MainMessage md:mt-32 sm:mt-16 ml-16 md:w-1/2">
            <p class="Message font-bold text-black md:text-5xl sm:text-2xl">
               <span>Conçu pour les Elèves.</span><br>
               <span>Conçu pour </span><br /> l'Education.
               Conçu pour la Resuite</span>
            </p>
            <div class="Message">                
                <p class="Massage-content font-serif text-2xl">
                    CHATLN est la plateforme unique pour réviser vos léçons, préparer vos Interrogations, ainsi que que vos Dévoirs avec vos Professeurs. Pour mettre toutes les chances dans votre main.
                </p>

            </div>
        </div>
        <div class="w-1/2">
                    <!-- inclure une image/!-->
                    <p>je suis une image</p>
        </div>          
    </div>
</div>