<br>
<br>
<br>
<br>
<br>
<br>
<div class="md:flex">
  <div class="md:flex-shrink-0">
    <img class="rounded-lg md:w-56" src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=448&q=80" alt="Woman paying for a purchase">
  </div>
  <div class="mt-4 md:mt-4 md:ml-6">
    <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">Marketing</div>
    <a href="#" class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline">Finding customers for your new business</a>
    <p class="mt-2 text-gray-600">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
  </div>
</div>




<!DOCTYPE html>   
<html>   
  <head>        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  </head>      
  <body style="text-align:center;">   
    <h1>WayToLearn<span style="color:red;">X</span></h1>  
    <input id="input" type="text" name="input" disabled/>  
    <button onclick="enable()">Activer/Désactiver</button>  
    <script>
      function enable() {
        $("input").prop('disabled', false); 
      }
    </script>  
  </body>   
</html>