
.sidebar{
	display: block;
	align-content: center;
}

.header-sidebar{
	background: #E6E6E6;
	justify-content: center;
}
.fil-icon{
	background: #34A2F7;
}

.items{
	text-decoration: none;
	font-family: "roboto";
	font-weight: 900;

}
.items:hover{
	text-decoration: none;
	color: black;
}
.content-sidebar{

}

