<!-- comment box print/!-->

<div class="block bg-white border border-t border-b border-l border-r rounded-t-lg rounded-b-lg rounded-l-lg rounded-r-lg ">
    <!-- avatar/!-->
    <div class="flex-row">
        <div class="flex items-center -mt-16">
            <!-- avatar 64x64/!-->
            <img src="https://bulma.io/images/placeholders/64x64.png" class="flex w-16 mr-4 rounded-full ">
            <!-- current_user.username/!-->

            <div class="text-center text-bold">
                <!--meta info sur user /!-->
                <% if current_user>
                    <span>Professeur</span>
                    <% else %>
                    <span>Eleve</span>
                    <% end %>
                        <%= comment.user.username %>
            </div>
        </div>
    </div>
    <!-- content/!-->
    <!-- refactoriser le code via les custom style/ !-->
    <div class="p-1">
        <% if status_user(current_user) %>
            <div class="pt-2 -mt-16 bg-blue-100 border border-t rounded-b-lg rounded-r-lg">
                <%= comment.content %>
            </div>
            <% else %>
                <div class="pt-2 -mt-16 bg-gray-100 border border-t rounded-b-lg rounded-r-lg">
                    <%= comment.content %>
                </div>
                <% end %>
    </div>

</div>