<!-- Comments Form -->
<%= simple_form_for([@course, @course.comments.build], remote: true) do |f| %>

    <!-- verifier la presence des erreurs -->
    <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <label class="block">
  <%= f.input :content, required: false,
     input_html: { class: 'textarea text-gray-700 form-textarea  ' },
     wrapper: false, label_html: { class: 'label' }, 
    label:'participez au cours:', placeholder:'Ecrivez votre texte ici...', id %>
  </label>

            <button type="submit" class="btn btn-primary">
    <i class="fa fa-location-arrow" aria-hidden="true"></i> Envoyez
  </button>
            <% end %>