<p id="notice"><%= notice %></p>
<% title=@level.title %>

<div class="content">
   <h1 class="title"> Les cours du niveau <%= @level.title %></h1>
</div>
  <br>
<hr />
<div class="columns container"> 
  <div class="column is-8 is-offset-1">
  
   	<!-- <%=  %>
   		render 'shared/main/content_feed' %>
   		</!-->

   <%= render 'shared/main/content_feed'  %>

  </div>
</div>
