<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-mobile">

				<h2>Modifiez le cours</h2>
				<br>
				<%= render 'form', course:@course %>

				<br>

				<%= link_to 'Voir le cours', @course %> |

                <%= link_to 'Retour', courses_path %>
			</div>
		</div>
	</div>
</section>