<br><br>
<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-mobile">
				<h2 class="course-new">Ajouter un cours</h2>
				<%= render 'form', course: @course %>
			</div>
		</div>
	</div>
</section>
