
<!-- on courses_feed section: question and anwser/!-->
<div class="user__feed max-w w-full rounded md:max-w-md lg:max-w-full lg:flex">
    <!-- avatar user 32x32/!-->
  	<%= render "shared/pages/users/avatar_32x32" %>  
</div>
  <!-- easy to render on matiere page  content feed/!-->
<%= render "shared/feed/content_feed" %>
