<div class="column create-course">
  <!--create course and controle/!-->
  <div class="columns section_course">
    <div class="column course">
      <%= link_to new_course_path, class:"button is-info" do %>
       Ajouter un Cours
      <% end %>
    </div>
    <div class=" column course">
      <%= link_to new_course_path, class:"button is-info" do %>
       Ajouter un controle
      <% end %>
    </div>
  </div>
</div>