<!-- créer le compte de prof et school account    /!-->
<!-- PROF
  * créer un cours
  * créer un  questionnaire pour aider les eleves a comprendre la leçon
  * analyser l'audience: 
    --reviser le cours
    -- comprehension de la leçon
/!-->

<!-- SCHOOL
  * voir la comprehension de la leçon
  * revision de  leçon
/!-->
<!--section horizontal/!-->
<div class="section">
  <div class="columns">
    <!--section left:  data accounted/!-->
    <%= render  'account_data' %>
    <!--section right: create course and statistics/!-->
    <%= render 'create_course' %>
    <hr>
    <br>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeJpjoWxXjti5scgMl7RGLFwSC92A9BdR2iv3o9VEl3jQuo_g/viewform?embedded=true" width="900" height="520" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
  </div>
</div>